body{
	background: #0f2a48 url('http://bnetus-a.akamaihd.net/shop/static/images/backgrounds/bnet-background-1280.0H4LX.jpg') no-repeat center -200px;
}

.welcome-bar{
	  color: #8694a1;
	  background-color: #00000f;
	  float: left;
}
