.badge-container {
	width: 150px;
	display: inline-block;
	color: #00aeff;
	background-color: rgba(39,56,76,0.9);
	border: 1px solid #19547c;
	text-align: center;
	border-radius: 4px;
	margin: 4px;
}

.badge-container:hover {
	background-color: rgba(255,255,255,0.05);
	color: #FFFFFF;
}

.badge-container a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
.badges {
	float: left;
	width: 275%;
	height: 100px;
	margin-top: -40px;
	margin-left: 15px;
}
.pic-column {
	width: 35%;
	height: inherit;
	float: left;
}

.content-container {
	height: 300px;
	margin: 10px 0 30px 0;
}

.content-container.call-to-epicness {
	background-color: #19547c;
	color: #ffffff;
	border-top: 1px solid #00aeff;
	border-bottom: 1px solid #00aeff;
}

.profile-half {
	width: 50%;
	float: left;
}
.search-half {
	width: 50%;
	float: left;
}
.profile-pic {
	float: left;
	margin: 30px 0 30px 15px;
}

.information {
	margin-top: 30px;
}

.tag-cloud {
	height: inherit;
	width: 35%;
	float: left;
}
.favorites {
	height: inherit;
	width: 65%;
	float: left;
}

.favorites h2{
	margin-top: 0px;
}

.tag-container {
	width: 240px;
	height: 49px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.07);
	font-size: 19px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(255,255,255,0.02);
}

.tag-container a {
	text-decoration: none;
	color: white;
	margin-top: 20px;
}
.tag-container:hover {
	background-color: rgba(0,174,255,0.7);
}

.favorite-question {
	background-color: rgba(39,56,76,0.9);
	border: 1px solid #19547c;
	width: 250px;
	float: left;
	margin: 0 15px 15px 0;
	height: 200px;
	text-decoration: none;
  	color: #00aeff;
}

.favorites-tag {
	background-color: #19547c;
	width: 42%;
	float: left;
	margin: 10px 9px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.07);
	border-radius: 4px;
	color: #ffffff;
}

