.tag-container {
	background: transparent;
	border: 1px solid rgba(255,255,255,0.07);
	background-color: #19547c;
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 20%;
	float: left;
	margin-left: 10px;
}
.tag-container:hover {
	background-color: rgba(0,174,255,0.7);
}
.question-container {
	background-color: rgba(39,56,76,0.9);
	color: #fff;
	float: left;
}

.question-container header {
	float: left;
}

.question-container hr {
	float: left;
	width: 100%;
}
.question-title {
	margin-left: 10px;
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 15px;
}

.question-stats-column {
	background: transparent;
	border: 1px solid rgba(255,255,255,0.07);
	background-color: rgba(255,255,255,0.02);
	float: left;
	height: inherit;
	width: 75px;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 20px;
}

.question-stats-box {
	float: left;
	height: 40px;
	text-align: center;
	width: inherit;
	margin-bottom: 20px;
}

.question-body {
	float: left;
	margin-left: 20px;
	width: 85%;
}

#creation-date {
	float: right;
}

.answers-container {
	float: left;
	width: 100%;
	margin-top: 20px;
	
    color: #ffffff;
}
.answers-container hr {
	float: left;
	width: 100%;
}
.back-button {
	background-color: #000000;
	color: #00aeff;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	height: 20px;
	float: left;
	line-height: 20px;
	width: 150px;
	text-align: center;
}

.question-comments {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

.comment-container {
	float: left;
	background-color: #19547c;
	min-height: 54px;
	margin-bottom: 10px;
	width: 55%;
	margin-left: 20px;
}

.answer-container h3{
	margin-bottom: 0px;
}

.comment-score {
	display: block;
	float: left;
	height: 54px;
	width: 10px;
	margin-right: 10px;
	margin-left: 5px;
}

.comment-creation-date {
	float: right;
	margin-right: 5px;
}

.individual-answer-container{
  float: left;
  background-color: rgba(39,56,76,0.9);	
  margin-bottom: 10px;
  width: 100%;
}
.answer-body{
  float: left;
  width: 85%;
  margin-left: 10px;	
}

.creation-date{
	float: right;
}

.answer-comments{
	margin-left: 20px;
}

.favorted{
	color: #FF0000;
}





