.tag-container{
  background: transparent;
  border: 1px solid rgba(255,255,255,0.07);
  background-color: rgba(255,255,255,0.02);
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  float: left;
  margin-left: 10px;
}
.tag-container:hover{
	background-color: rgba(0,174,255,0.7);
}
.question-container{
	background-color: rgba(39,56,76,0.9);
  	color: #fff;
  	float: left;
}

.question-container header{
	float: left;
}

.question-container hr{
	float: left;
	width: 100%;
}
.question-title{
	margin-left: 10px;
  	float: left;
  	width: 100%;
  	height: 40px;
}

.question-stats-column{
	  background: transparent;
  border: 1px solid rgba(255,255,255,0.07);
  background-color: rgba(255,255,255,0.02);
  float: left;
  height: inherit;
  width: 75px;
  color: #ffffff;
  margin-left: 10px;
}

.question-stats-box{
  float: left;
  height: 40px;
  text-align: center;
  width: inherit;
  margin-bottom: 20px;	
}

.question-body{
	  float: left;
  margin-left: 20px;
}

#creation-date{
	float: right;
}

.answers-container {
  float: left;
  width: 100%;
  margin-top: 20px;	
}
.answers-container hr{
	float: left;
	width: 100%;
}

