.tag-container{
	background: transparent;
  	border: 1px solid rgba(255,255,255,0.07);
  	background-color: rgba(255,255,255,0.02);
  	color: #fff;
  	text-align: center;
  	margin-bottom: 5px;
  	border-radius: 5px;
  	cursor: pointer;
}
.tag-container:hover{
	background-color: rgba(0,174,255,0.7);
}