.search-results header {
	color: #ffffff;
}

.search-results hr {
	margin-bottom: 15px;
	height: 1px;
}

.query-result-container {
	width: 90%;
	height: 129px;
	float: left;
	background-color: rgba(39,56,76,0.9);
	color: white;
	margin-bottom: 15px;
	border-radius: 5px;
}

.owner-info {
	float: left;
	height: inherit;
	width: 140px;
}
.owner-info a {
	text-decoration: none;
	color: white;
	height: inherit;
}

.owner-info a:first-child {
	float: left;
	margin-top: 10px;
	margin-left: 5px;

}
.owner-info a:last-child {
	float: left;
	text-align: center;
	margin-top: 23%;
    color: #00aeff;
}

.owner-info img {
	height: 64px;
	width: 64px;
	margin: 35px 10px 35px -60px;
	float: left;
}

.question-score {
	float: left;
	margin-top: 6%;
	height: inherit;
	margin-left: -43px;
	text-align: center;
}

.question-info-container {
	float: left;
	width: 810px;
	margin-left: 7px;
}

.question-info-container a {
	float: left;
	height: 50%;
	text-decoration: none;
	color: white;
}
.question-info-container a h3 {
	width: 810px;
	text-align: center;
	margin: 20px 0 20px -145px;
	color: #00aeff
}

.question-info-bottom-half {
	height: 50%;
	float: left;
	width: 100%;
}

.question-tags-container {
	height: inherit;
	width: 640px;
	float: left;
}
.question-tags-container.favorites-tag {
	background-color: #19547c;
	width: 31%;
	float: left;
	margin: 3px 3px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.07);
	border-radius: 4px;
	color: #ffffff;
}

.question-info-bottom-half span {
	width: 160px;
	float: left;
	margin-top: 30px;
}

